<div class="socialshare">
	<span class="FavThis">
	<% if signed_in? %>
		<%= render 'shared/favform' %>
	<% else %>
		<button class="btn btn-primary fav_action fav_button" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<div style='text-align:center;'><strong>Sign in to Fav this Tale</strong><button type='button' class='btn btn-success'><a href='/auth/twitter' style='color: white'><i class='icon-twitter'></i> Sign in with Twitter</a></button>" >Fav This Tale</button>
	<% end %>
	</span>

	<span class="facebook">
		<a href="https://www.facebook.com/sharer/sharer.php?u=<%= u request.original_url%>" target="_blank">
		  <i class="icon icon-facebook"></i>
		</a>
	</span>
	<span class="twitter">
		<a href="https://twitter.com/share?text=<%= u ( '"' + @story.title + '"' + ' by ' + '@' + @storyauthor.username) %>&url=<%= u request.original_url%>" target="_blank"><i class="icon icon-twitter icon-twitter-dark"></i></a>
		
	</span>

</div>
</br>