<%= link_to favorite_story_path(@story), :class => "fav-link", :rel => "tooltip", :placeholder => "Unlike this story", :remote => true  do %>
		<button class="btn btn-primary fav_action fav_button">Fav This Tale</button>
	<% end %>
	<span class='fav-count'><%= @story.favcount %></span>