<% provide(:title, "New story") %>
<%= tinymce_assets %>
<script type="text/javascript">
  jQuery(function($) {
    $(".edit_story").autosave({
      callbacks: {
        trigger: ["change", function() {
          var self = this;

          $("[name=save]").click(function() {
            self.save();
          });
        }],
        save: {
          method: "ajax",
          options: {
            type: 'PUT',
            url: "<%= story_path(@story) %>",
            dataType: "script"
          }
        }
      }
    });
  });
</script>
<div class="container" >
  <div class="row">
    <div class="col-md-12">

        <%= render 'form' %>
    </div>
  </div>
</div>
<%= tinymce %>