
.story-author-image {
/*float: right;*/
}

.story-author-card {
	position: relative;
	/*float: left;*/
	text-align: left;
	padding-bottom: 10px;
	padding-top: 10px;
}

.user-card {
	position: relative;
	/*float: left;*/
	text-align: center;
}


.story-author-image, .user-image {
display: block;
/*position: relative;*/
/*float: left;*/
overflow: hidden;
background: #fff;
text-align: center;
width: 70px;
height: 70px;
-webkit-border-radius: 70px;
-moz-border-radius: 70px;
border-radius: 70px;
}

.header-author-image {
	display: block;
	overflow: hidden;
	background: #fff;
	text-align: center;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin-top: -3px;
}

.header-author-image img {
width: 100%;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
background: #f2f2f0;
}

.story-author-image, .header-author-image {
float: left;
}

.user-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.story-author-image, .user-image {
margin-bottom: 10px;
}

.story-author-image img, .user-image img {
width: 100%;
-webkit-border-radius: 95px;
-moz-border-radius: 95px;
border-radius: 95px;
background: #f2f2f0;
}

.story-side, .user-side {
	margin-top: 20px;
}

.story-author-card, .user-card {
	position: relative;
	border-bottom: 1px solid #dededc;
	border-top: 1px solid #dededc;
	overflow: hidden;
}

.story-characters {
	border-bottom: 1px solid #dededc;
	padding-bottom: 10px;
	padding-top: 10px;
}
.story-side {
	strong {
		color: black;
	}
	p {
		color: #666665;
	}
}

.story-author-info .story-author-name, .user-info .user-name {
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	font-weight: 700;
	display: block;
	font-size: 16px;
	/*color: #333332;*/
	color: #63B559;
	line-height: 1.2;
}

.story-author-info p, .user-info p {
	font-size: 14px;
	line-height: 1.4;
	color: #666665;
	word-wrap: break-word;
}

.storyactionbar {
	right: 10px;
	pointer-events: visible;
	-webkit-transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	-ms-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;
	font-size: 14px;
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	font-weight: 400;
	color: #b3b3b1;
}

@media (min-width: 979px) {
	.storyactionbar {
		position: fixed;
		left: 30px;
	}
	.story-actions-btns {
		display: block;
		li {
			display: block;
		}
	}
}

@media (max-width: 978px) {
	.storyactionbar {
		position: relative;
		left: 0;
	}
	.story-actions-btns {
		display: inline-block;
		li {
			display: inline-block;
		}
	}
}

.showstoryactionbar {
	right: 10px;
	pointer-events: visible;
	-webkit-transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	-ms-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;
	font-size: 14px;
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	font-weight: 400;
	color: #b3b3b1;
}

.show-story-actions-btns {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	font-weight: 400;
	color: #b3b3b1;
	padding: 0;
	list-style: none;
	list-style-image: none;

	padding-top: 6px;
	padding-bottom: 8px;
	li {
		margin-right: 4px;
		display: inline-block;
		padding-top: 6px;
	}

}

.story-actions-btns {
	/*display: inline-block;*/
	vertical-align: top;
	font-size: 14px;
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	font-weight: 400;
	color: #b3b3b1;
	padding: 0;
	list-style: none;
	list-style-image: none;

	border-top: 1px solid #dededc;
	border-bottom: 1px solid #dededc;
	padding-top: 6px;
	padding-bottom: 8px;
	li {
		margin-right: 4px;
		/*display: inline-block;*/
		padding-top: 6px;
	}

}

.socialshare {
	a {
		color: #b3b3b1;
		text-decoration: none;
	}

	a:hover {
		color: #666665;
	}
}

.storycharacter {
	text-align: center;
	padding: 6px 16px;
	color: #ffffff !important;
	background-color: #47B099;
	border-color: #47B099;
	display: inline-block;
padding: 6px 12px;
margin-bottom: 3px;
margin-top: 3px;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border: 1px solid transparent;
border-radius: 6px;
-webkit-user-select: none;
}

.sidebar-item  {
	float: right;
	text-align: right;
	width: 100%;
}

.storylesson {
	padding-top: 10px;
	border-bottom: 1px solid #dededc;
}

.story-edit-status {
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	font-weight: 700;
	color: #666665;
}