 <div class="footer">
    <br>

    <a href="#signup_modal" class="signup_modal" rel="tooltip" data-toggle="modal" data-keyboard="true"><button type="button" class="btn btn-success">
    SIGN UP NOW</button></a>
    <h2>More stories to come ... </h2>

  </div>