<nav class="navbar navbar-default navbar-top" role="navigation">
  <div class="logo">
    <a href="/">
    <img class="mainlogo" src="/assets/fulllogo.png" />
    </a>
  </div>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


  <!-- Collect the nav links, forms, and other content for toggling -->
  
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      
      <ul class="nav navbar-nav">
        <li class="active"><a href="/"><i class="icon-home"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Show most shared stories <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Today</a></li>
            <li><a href="#">In the past week</a></li>
            <li><a href="#">In the past month</a></li>
            <li><a href="#">Ever</a></li>
          </ul>
        </li>
        <% if signed_in? %>
          <li><%= link_to "Create new story", new_story_path %>
        <% end %>
      </ul>
  
      <ul class="nav navbar-nav navbar-right">
        
        <% if signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="header-author-image">
          <img src="<%= current_user.tweet_avatar %>" alt=""> 
          </span> 
         <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile Settings</a></li>
              <li><a href="#">Your family tales</a></li>
              <li><a href="#">In the past month</a></li>
              <li><%= link_to "Log out", signout_path, method: "delete" %></li>
            </ul>
          </li>
          
        <% else %>
          <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>